/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSansPro-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir-GrandHeavy.woff2") format("woff2"), url("../fonts/Agrandir-GrandHeavy.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../iconFont/icomoon.eot?tjpyyz");
  src: url("../iconFont/icomoon.eot?tjpyyz#iefix") format("embedded-opentype"), url("../iconFont/icomoon.ttf?tjpyyz") format("truetype"), url("../iconFont/icomoon.woff?tjpyyz") format("woff"), url("../iconFont/icomoon.svg?tjpyyz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-dropdown:before {
  content: "\e900";
}

.icon-arrow-FAQ-expand:before {
  content: "\e901";
}

.icon-arrow-slider-right:before {
  content: "\e902";
}

.icon-barbers:before {
  content: "\e903";
}

.icon-check:before {
  content: "\e904";
}

.icon-contacts:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-flag:before {
  content: "\e907";
}

.icon-home:before {
  content: "\e908";
}

.icon-instagram:before {
  content: "\e909";
}

.icon-label:before {
  content: "\e90a";
}

.icon-scissors:before {
  content: "\e90b";
}

.icon-services:before {
  content: "\e90c";
}

.icon-works:before {
  content: "\e90d";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

body {
  line-height: normal;
  font-family: "Source Sans Pro", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  line-height: 0;
  background-color: transparent;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .container {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1235px) {
  .container {
    max-width: 1235px;
  }
}

.section {
  padding: 35px 0;
}
@media screen and (min-width: 1235px) {
  .section {
    padding: 70px 0;
  }
}

.header {
  background-color: #000;
  color: #fff;
}
.header__body {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: inline-block;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  display: block;
  padding: 0px 25px;
}
.social__icon {
  display: block;
  color: #fff;
  font-size: 30px;
}
.social__icon:hover {
  color: #17c7e6;
}

.header__menu {
  display: none;
}

.bottom-bar {
  width: 100%;
  background-color: #000;
  position: fixed;
  bottom: 34px;
  right: 0;
  z-index: 4;
  min-height: 60px;
}
.bottom-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-bar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.bottom-bar__item::after {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: -60%;
  height: 3px;
  width: 240%;
  background-color: #17c7e6;
}
.bottom-bar__item:hover::after {
  display: block;
}
.bottom-bar__icon {
  font-size: 30px;
  margin: 10px 0px;
  color: #fff;
}
.bottom-bar__icon:hover {
  color: #17c7e6;
}
.bottom-bar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.bottom-bar__link:hover {
  color: #17c7e6;
}

@media (min-width: 992px) {
  .header__body {
    min-height: 90px;
  }
  .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .social__item {
    display: inline-block;
    padding: 0px;
  }
  .social__item:not(:last-child) {
    padding-right: 10px;
  }
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: block;
    height: auto;
    width: auto;
    padding: 0px 40px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__link {
    font-size: 15px;
    padding: 0px;
    font-weight: 400;
    line-height: 126.6%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__link:hover {
    color: #fff;
    text-decoration: underline;
  }
  .bottom-bar {
    display: none;
  }
}
@media (min-width: 992px) {
  .header__body {
    min-height: 90px;
  }
  .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .social__item {
    display: inline-block;
    padding: 0px;
  }
  .social__item:not(:last-child) {
    padding-right: 10px;
  }
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: block;
    height: auto;
    width: auto;
    padding: 0px 40px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__link {
    font-size: 15px;
    padding: 0px;
    font-weight: 400;
    line-height: 126.6%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__link:hover {
    color: #fff;
    text-decoration: underline;
  }
  .bottom-bar {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__body {
    min-height: 94px;
  }
  .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .social__item {
    display: inline-block;
    padding: 0px;
  }
  .social__item:not(:last-child) {
    padding-right: 10px;
  }
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: block;
    height: auto;
    width: auto;
    padding: 0px 94px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__link {
    font-size: 15px;
    padding: 0px;
    font-weight: 400;
    line-height: 126.6%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__link:hover {
    color: #fff;
    text-decoration: underline;
  }
  .bottom-bar {
    display: none;
  }
}
@media screen and (min-width: 1235px) {
  .header__body {
    min-height: 94px;
  }
  .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .social__item {
    display: inline-block;
    padding: 0px;
  }
  .social__item:not(:last-child) {
    padding-right: 10px;
  }
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: block;
    height: auto;
    width: auto;
    padding: 0px 94px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__link {
    font-size: 14px;
    padding: 0px;
    font-weight: 400;
    line-height: 126.6%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__link:hover {
    color: #fff;
    text-decoration: underline;
  }
  .bottom-bar {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */