<div class="bottom-bar">
          <div class="bottom-bar__container container">
            <div class="bottom-bar__list">
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-home bottom-bar__icon"></i>
                  <p>головна</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-services bottom-bar__icon"></i>
                  <p>послуги</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-works bottom-bar__icon"></i>
                  <p>Роботи</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-barbers bottom-bar__icon"></i>
                  <p>Барбери</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-contacts bottom-bar__icon"></i>
                  <p>Контакти</p></a
                >
              </div>
            </div>
          </div>
        </div>