<section class="section choice">
  <div class="box">
    <h2 class="title-light">ЧОМУ ОБИРАЮТЬ НАС</h2>

    <div class="choice-gallery__container">
      <div class="choice-swiper swiper">
        <ul class="choice-gallery swiper-wrapper">
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">
                На навчанні ти можеш безлімітно використовувати косметику різноманітних брендів:
                шампуні, кондиціонери, стайлінги, камуфляжі, пасти, тоніки, пудри, пасти та безліч
                іншого.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">
                На навчанні ти можеш безлімітно використовувати косметику різноманітних брендів:
                шампуні, кондиціонери, стайлінги, камуфляжі, пасти, тоніки, пудри, пасти та безліч
                іншого.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">
                На навчанні ти можеш безлімітно використовувати косметику різноманітних брендів:
                шампуні, кондиціонери, стайлінги, камуфляжі, пасти, тоніки, пудри, пасти та безліч
                іншого.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">На навчанні ти можеш безлімітно</p>
            </div>
          </li>
        </ul>
        <div class="choice-navigation">
          <button type="button" class="choice-navigation-prev">
            <i class="icon-arrow-slider-right"></i>
          </button>
          <button type="button" class="choice-navigation-next">
            <i class="icon-arrow-slider-right"></i>
          </button>
        </div>
      </div>
      <div class="choice-pagination swiper-pagination"></div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <h2 class="title-light">ЩО ОТРИМАЄШ НА КУРСІ</h2>
      <ul class="choice-features" id="course-features">
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">ВИВЧИШ БАЗУ ТА СКЛАДНІ ТЕХНІКИ</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Після проходження курсу ти отримаєш чітке розуміння і опануєш базові техніки стрижки
              які необхідні для роботи сучасному майстру,навчишся підбирати стрижку відповідно до
              кісткової будови,пропорцій обличчя та структури волосся,що надасть міцний фундамент
              для професійної кар'єри
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">СФОРМУЄШ ПОРТФОЛІО</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Отримаєш потужне професійне портфоліо. Після курсу в тебе будуть фото крутих робіт,
              які покажуть твій професіоналізм.
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">ОТРИМАЄШ ДОСВІД</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Отримаєш досвід роботи з реальними клієнтами. Ми забезпечуємо моделями для
              відпрацювання навичок. Кожна модель - твій потенційний клієнт
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">ДИПЛОМ АКАДЕМІЇ ТА СЕРТИФІКАТ КССК</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Отримаєш диплом академії, Сертифікат КССК (Комітет стандартів Салонів Краси),
              міжнародний сертифікат - який дає можливість працювати в країнах Європи, Азії,
              Америки.
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">ПРАЦЕВЛАШТУВАННЯ</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Ще до випуску студенти отримують пропозиції співпраці від салонів краси та
              барбершопів: Beauty Rehab, Backstage, Yeezy, 365 Salon.
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="box">
      <h2 class="title-light">ДЛЯ КОГО ПІДІЙДЕ ЦЕЙ КУРС</h2>
      <ul class="choice-features" id="course-fit">
        <li class="choice-features__item"></li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">тим, хто немає досвіду у сфері барберінгу:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Якщо ти тільки починають свій шлях у перукарському мистецтві і не маєш попереднього
              досвіду. Курс надасть необхідні базові знання та навички, щоб успішно почати кар'єру в
              цій галузі.
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Тим, хто прагне змінити кар’єру:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Працюєш в іншій галузі, але хочеш змінити професію на щось більш творче та цікаве?
              Отримай нові навички та почни новий етап у своєму житті, ставши професійним барбером.
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Випускникам шкіл та коледжів:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Щойно закінчилось навчання і шукаєш цікаву та перспективну професію з високим попитом?
              Почни кар'єру у сфері краси та моди, ставши професійним барбером!
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Перукарям універсалам:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Розвивай професійну майстерність та збільши спектр своїх послуг, які зможеш
              запропонувати своїм клієнтам. у сфері краси та моди, ставши професійним барбером!
            </p>
            <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
