<section class="section choice">
  <div class="box">
    <h2 class="title-light">ЧОМУ ОБИРАЮТЬ НАС</h2>

    <div class="choice-gallery__container">
      <div class="choice-swiper swiper">
        <ul class="choice-gallery swiper-wrapper">
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">
                На навчанні ти можеш безлімітно використовувати косметику різноманітних брендів:
                шампуні, кондиціонери, стайлінги, камуфляжі, пасти, тоніки, пудри, пасти та безліч
                іншого.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">
                На навчанні ти можеш безлімітно використовувати косметику різноманітних брендів:
                шампуні, кондиціонери, стайлінги, камуфляжі, пасти, тоніки, пудри, пасти та безліч
                іншого.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">
                На навчанні ти можеш безлімітно використовувати косметику різноманітних брендів:
                шампуні, кондиціонери, стайлінги, камуфляжі, пасти, тоніки, пудри, пасти та безліч
                іншого.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">повний безліміт косметики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/choise-gallery.webp"
                  alt="cosmetics"
                />
              </div>
              <p class="choice-gallery__text">На навчанні ти можеш безлімітно</p>
            </div>
          </li>
        </ul>
        <div class="choice-navigation">
          <button type="button" class="choice-navigation-prev">
            <i class="icon-arrow-slider-right"></i>
          </button>
          <button type="button" class="choice-navigation-next">
            <i class="icon-arrow-slider-right"></i>
          </button>
        </div>
      </div>
      <div class="choice-pagination swiper-pagination"></div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <h2 class="title-light">ЩО ОТРИМАЄШ НА КУРСІ</h2>
    </div>
  </div>
</section>
