<section class="section choice" id="about-us">
  <div class="box">
    <h2 class="title-light">ЧОМУ ОБИРАЮТЬ НАС</h2>

    <div class="choice-gallery__container">
      <div class="choice-swiper swiper">
        <ul class="choice-gallery swiper-wrapper">
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">Перевірені бренди</h4>
              <div class="choice-gallery__box-img">
                <picture>
                  <source
                    srcset="../images/slider-cosmetics-new.webp"
                    type="image/webp"
                    media="(min-width: 600px)"
                  />
                  <source srcset="../images/slider-cosmetics-new-mob.webp" type="image/webp" />
                  <img
                    class="choice-gallery__img"
                    src="../images/slider-cosmetics-new-mob.webp"
                    alt="cosmetics"
                  />
                </picture>
              </div>
              <p class="choice-gallery__text">
                В період навчання у тебе буде доступ до найкращих, перевірених косметичних засобів:
                шампуні, кондиціонери, стайлінги та інші необхідні продукти для роботи.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">Ідеальні інструменти</h4>
              <div class="choice-gallery__box-img">
                <picture>
                  <source
                    srcset="../images/slider-instruments-new.webp"
                    type="image/webp"
                    media="(min-width: 600px)"
                  />
                  <source srcset="../images/slider-instruments-new-mob.webp" type="image/webp" />
                  <img
                    class="choice-gallery__img"
                    src="../images/slider-instruments-new-mob.webp"
                    alt="instruments"
                  />
                </picture>
              </div>
              <p class="choice-gallery__text">
                Професійні інструменти для стрижок і догляду за волоссям, що забезпечують комфорт і
                високу якість роботи.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">Моделі для практики</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/slider-manequins.webp"
                  alt="manequins"
                />
              </div>
              <p class="choice-gallery__text">
                Ти відпрацьовуватимеш навички, які отримаєш, на моделях, засвоюючи безцінний досвід
                роботи з різними типами волосся та запитами відвідувачів.
              </p>
            </div>
          </li>
          <li class="choice-gallery__item swiper-slide">
            <div class="choice-gallery__content">
              <h4 class="choice-gallery__title">Сертифікат курсу</h4>
              <div class="choice-gallery__box-img">
                <img
                  class="choice-gallery__img"
                  src="../images/slider-accreditation.webp"
                  alt="accreditation"
                />
              </div>
              <p class="choice-gallery__text">
                Після фінального заліку, ти отримуєш диплом академії про закінчення курсу.
              </p>
            </div>
          </li>
        </ul>
        <div class="choice-navigation">
          <button type="button" class="choice-navigation-prev">
            <i class="icon-arrow-slider-right"></i>
          </button>
          <button type="button" class="choice-navigation-next">
            <i class="icon-arrow-slider-right"></i>
          </button>
        </div>
      </div>
      <div class="choice-pagination swiper-pagination"></div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <h2 class="title-light">ЩО ТИ ОТРИМАЄШ ПІСЛЯ КУРСУ</h2>
      <ul class="choice-features" id="course-features">
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Основи та складні техніки стрижки</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Ти освоїш основні та найновіші методи стрижки, включаючи fade, ножиці та машинку.
            </p>
            <!-- <div class="choice-features__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div> -->
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Реальний досвід</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Ти працюватимеш з реальними моделями, що допоможе отримати досвід і впевненість у
              своїх силах.
            </p>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Справжнє портфоліо</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Зробиш серію крутих робіт, які стануть твоїм найкращим показником для потенційних
              роботодавців.
            </p>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Працевлаштування</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Після випуску з нашої академії, ти отримаєш рекомендації для співпраці з іншими
              барбершопами, а також можливість працевлаштуватися в SHOPbarbershop.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="box">
      <h2 class="title-light">ДЛЯ КОГО ПІДІЙДЕ ЦЕЙ КУРС</h2>
      <ul class="choice-features" id="course-fit">
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Для початківців:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Якщо ти тільки починаєш свій шлях у перукарстві та хочеш навчатися з нуля, наш курс
              надасть тобі всі необхідні знання та навички для успішного старту.
            </p>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Для тих, хто хоче змінити кар’єру:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Якщо ти прагнеш перейти в іншу сферу і хочеш отримати нові навички у барберінгу, ми
              допоможемо зробити це швидко та ефективно.
            </p>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Для випускників:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Якщо ти щойно закінчив навчання і шукаєш кар’єру з великим потенціалом, наш курс
              допоможе зробити перший крок у світі моди та краси.
            </p>
          </div>
        </li>
        <li class="choice-features__item">
          <div class="choice-features__wraper-title">
            <h4 class="choice-features__title">Для перукарів універсалів:</h4>
          </div>
          <div class="choice-features__wraper">
            <p class="choice-features__text">
              Якщо ти вже працюєш у сфері перукарства і хочеш розширити свої навички, наш курс
              допоможе тобі стати висококласним барбером.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
