<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title title--course">КУРС БАРБЕРА В БІЛІЙ ЦЕРКВІ</h2>
      <ul class="course-info">
        <li class="course-info__item">
          <span class="course-info__type">Тривалість</span>
          <div class="course-info__wraper">
            <span class="course-info__num">2 </span><span class="course-info__text">МІСЯЦІ</span>
          </div>
        </li>
        <li class="course-info__item">
          <span class="course-info__type">Годин</span><span class="course-info__num">96+</span>
        </li>
        <li class="course-info__item">
          <span class="course-info__type">Тип занять</span>
          <div class="course-info__wraper">
            <span class="course-info__num">80% </span
            ><span class="course-info__text">ПРАКТИКИ</span>
          </div>
        </li>
        <li class="course-info__item">
          <span class="course-info__type">Інтенсивінсть</span>
          <div class="course-info__wraper">
            <span class="course-info__num">3</span
            ><span class="course-info__text"> РАЗИ НА ТИЖДЕНЬ</span>
          </div>
        </li>
      </ul>

      <ul class="course-date">
        <li class="course-date__item">
          <i class="icon-scissors"></i>
          <p class="course-date__text">Найближча дата старту:</p>
          <div class="course-date__info">
            <span class="course-date__num">1</span><span class="course-date__month">грудня</span>
          </div>
        </li>
        <li class="course-date__item">
          <i class="icon-scissors"></i>
          <p class="course-date__text">Лишилось місць:</p>
          <div class="course-date__info"><span class="course-date__stat">11/12</span></div>
        </li>
      </ul>
    </div>

    <div class="box">
      <h2 class="title">ЗАПИСУЙСЯ НА КУРС ПРЯМО ЗАРАЗ</h2>
      <p class="sign-up__text">НА ПЕРШОМУ ПРОБНОМУ ЗАНЯТТІ ТИ ВЖЕ ЗМОЖЕШ:</p>
    </div>
  </div>
</section>
