<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title title--course">КУРС БАРБЕРА В БІЛІЙ ЦЕРКВІ</h2>
      <ul class="course-info">
        <li class="course-info__item">
          <span class="course-info__type">Тривалість</span>
          <div class="course-info__wraper">
            <span class="course-info__num">2 </span><span class="course-info__text">МІСЯЦІ</span>
          </div>
        </li>
        <li class="course-info__item">
          <span class="course-info__type">Годин</span><span class="course-info__num">96+</span>
        </li>
        <li class="course-info__item">
          <span class="course-info__type">Тип занять</span>
          <div class="course-info__wraper">
            <span class="course-info__num">80% </span
            ><span class="course-info__text">ПРАКТИКИ</span>
          </div>
        </li>
        <li class="course-info__item">
          <span class="course-info__type">Інтенсивінсть</span>
          <div class="course-info__wraper">
            <span class="course-info__num">3</span
            ><span class="course-info__text"> РАЗИ НА ТИЖДЕНЬ</span>
          </div>
        </li>
      </ul>

      <ul class="course-date">
        <li class="course-date__item">
          <i class="icon-scissors"></i>
          <p class="course-date__text">Найближча дата старту:</p>
          <div class="course-date__info">
            <span class="course-date__num">1</span><span class="course-date__month">грудня</span>
          </div>
        </li>
        <li class="course-date__item">
          <i class="icon-scissors"></i>
          <p class="course-date__text">Лишилось місць:</p>
          <div class="course-date__info"><span class="course-date__stat">11/12</span></div>
        </li>
      </ul>
    </div>

    <div class="box">
      <h2 class="title">ЗАПИСУЙСЯ НА КУРС ПРЯМО ЗАРАЗ</h2>
      <p class="sign-up__text">НА ПЕРШОМУ ПРОБНОМУ ЗАНЯТТІ ТИ ВЖЕ ЗМОЖЕШ:</p>
      <div class="sign-up__box-img">
        <picture>
          <source
            srcset="../images/haircut-desktop.webp"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source srcset="../images/haircut-mob.webp" type="image/webp" />
          <img src="../images/haircut-mob.webp" alt="barber" class="sign-up__img" />
        </picture>
      </div>

      <ul class="sign-up__list">
        <li class="sign-up__item">
          <p class="sign-up__features">ЗРОБИТИ ПЕРШУ СТРИЖКУ</p>
          <i class="icon-check"></i>
        </li>
        <li class="sign-up__item">
          <p class="sign-up__features">ПОЗНАЙОМИТИСЬ З УЧНЯМИ ТА ВИКЛАДАЧАМИ</p>
          <i class="icon-check"></i>
        </li>
        <li class="sign-up__item">
          <p class="sign-up__features">ВІДЧУТИ АТМОСФЕРУ АКАДЕМІЇ</p>
          <i class="icon-check"></i>
        </li>
        <li class="sign-up__item">
          <p class="sign-up__features">ПОБАЧИТИ ПРОГРАМУ І ФОРМАТ НАВЧАННЯ</p>
          <i class="icon-check"></i>
        </li>
        <li class="sign-up__item">
          <p class="sign-up__features">ВИЗНАЧИТИСЬ, ЧИ ПІДХОДИТЬ ТОБІ НАША АКАДЕМІЯ</p>
          <i class="icon-check"></i>
        </li>
      </ul>
    </div>

    <div class="box">
      <h2 class="title">РЕЄСТРАЦІЯ НА КУРС</h2>
      <div class="price__container">
        <div class="price__box">
          <ul class="price-list">
            <li class="price-list__item">
              <p class="price-list__title">Повна вартість</p>
              <p class="price-list__cost">
                <span class="price-list__price">26 000 </span>
                <span class="price-list__currency">ГРН</span>
              </p>
            </li>
            <li class="price-list__item">
              <div class="price-list__box-title">
                <p class="price-list__title">
                  <span class="price-list__title-name">Одним платежем</span
                  ><span class="price-list__sub-title">26 000 ГРН</span>
                </p>
                <div class="price-list__discount-mob"><span>-10%</span></div>
              </div>

              <p class="price-list__cost">
                <span class="price-list__price">23 400 </span>
                <span class="price-list__currency">ГРН</span>
              </p>
            </li>
            <li class="price-list__item">
              <div class="price-list__discount-desk"><span>-10%</span></div>
            </li>
          </ul>

          <div class="price-part">
            <div class="price-part__text">Оплата частинами</div>
            <div class="price-part__cost">
              <span>6500 </span><span class="price-part__currency">ГРН</span>
            </div>
            <div class="price-part__icons">
              <picture>
                <source
                  srcset="../images/mono-desk.webp"
                  type="image/webp"
                  media="(min-width: 1235px)"
                />
                <source srcset="../images/mono-mob.webp" type="image/webp" />
                <img class="price-part__mono" src="../images/mono-mob.webp" alt="mono" />
              </picture>
              <picture>
                <source
                  srcset="../images/privat-desk.webp"
                  type="image/webp"
                  media="(min-width: 1235px)" />
                <source srcset="../images/privat-mob.webp" type="image/webp" />
                <img class="price-part__privat" src="../images/privat-mob.webp" alt="privat"
              /></picture>
            </div>
          </div>

          <p class="price-note">
            <span class="price-note__text">
              Щомісячний платіж при розрахунку частинами на виплат без комісії і % від monobank та
              ПриватБанк
            </span>
          </p>
        </div>

        <form class="form-registry form-registry--course">
          <label class="form-registry__label">
            <span class="form-registry__name">Твоє імʼя</span>
            <input
              class="form-registry__input"
              type="text"
              placeholder="Ім’я Прізвище"
              name="name"
            />
          </label>
          <label class="form-registry__label">
            <span class="form-registry__name">Твій емейл</span>
            <input class="form-registry__input" type="email" placeholder="Емейл" name="email" />
          </label>
          <label class="form-registry__label">
            <span class="form-registry__name">Твій номер</span>
            <input
              class="form-registry__input form-registry__input--phone"
              type="tel"
              placeholder="123 45 67"
              name="phone"
            />
            <div class="form-registry__wraper-flag">
              <svg class="form-registry__icon-flag">
                <use href="../icons/sprite.svg#flag"></use>
              </svg>
              <span class="form-registry__phone-code">+380</span>
            </div>
          </label>
          <button class="form-registry__submit" type="submit">Записатись</button>
        </form>
      </div>

      <ul class="sign-up-advantages">
        <li class="sign-up-advantages__item">
          <i class="icon-label"></i>
          <p class="sign-up-advantages__text">БЕЗЛІМІТНА КОСМЕТИКА</p>
          <i class="icon-label"></i>
        </li>
        <li class="sign-up-advantages__item">
          <i class="icon-label"></i>
          <p class="sign-up-advantages__text">МОДЕЛІ ДЛЯ ВІДПРАЦЮВАННЯ</p>
          <i class="icon-label"></i>
        </li>
        <li class="sign-up-advantages__item">
          <i class="icon-label"></i>
          <p class="sign-up-advantages__text">ІНСТРУМЕНТИ</p>
          <i class="icon-label"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
