<div class="main__diploma diploma">
  <div class="diploma_container container">
    <div class="diploma__header-block header-block">
      <h2 class="header-block__title">ДИПЛОМ</h2>
      <div class="header-block__subtitle">
        ПІСЛЯ ПРОХОДЖЕННЯ КУРСУ ВИ ОТРИМУЄТЕ ДИПЛОМ
      </div>
    </div>
    <div class="diploma__body">
      <div class="diploma__row">
        <div class="diploma__column diploma__column_first">
          <div class="diplom__item diplom__item_vertical item">
            <div class="item__image item__image_h">
              <img src="../images/diploma_1.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="diploma__column diploma__column_second">
          <div class="diplom__item diplom__item_vertical item">
            <div class="item__image item__image_h">
              <img src="../images/diploma_2.webp" alt="" />
            </div>
          </div>
        </div>

        <div class="diploma__column diploma__column_big">
          <div class="diploma__item diplom__item_horizontal item">
            <div class="item__image item__image_v item__image_first">
              <img src="../images/diploma_3.webp" alt="" />
            </div>
            <div class="item__image item__image_v">
              <img src="../images/diploma_4.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>