<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title">ТЕБЕ НАВЧАТИМУТЬ</h2>

      <div class="teachers-gallery__container">
        <div class="teachers-swiper swiper">
          <ul class="teachers-gallery swiper-wrapper">
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_1.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Олексій</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо цінує класичні стрижки і виконує різні варіації подовжених
                        дизайнів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 2 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Навчає як технічним так і міжособистісним навичкам роботи.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 4 роки досвіду роботи.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_2.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Павло</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 5 років досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 4 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Володіє глибокими знаннями технік стрижки і поєднує класичні підходи і
                        сучасні тренди.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Відповідальний і уважний, навчає як технічній частині, так і гарному
                        сервісу.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_3.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Влад</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 2 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Вдало створює комфортну атмосферу для студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Спокійний і відкритий, допомагає учням швидко опановувати навички.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо любить працювати з бородою.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_4.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">Старший барбер - Назар</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 3 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Чудово розуміє і відтворює побажання відвідувача створюючи неймовірно
                        стильні дизайни.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Завжди відкритий до створення нового та кардинальних змін у стилі.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_1.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Олексій</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо цінує класичні стрижки і виконує різні варіації подовжених
                        дизайнів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 2 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Навчає як технічним так і міжособистісним навичкам роботи.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 4 роки досвіду роботи.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_2.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Павло</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 5 років досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 4 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Володіє глибокими знаннями технік стрижки і поєднує класичні підходи і
                        сучасні тренди.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Відповідальний і уважний, навчає як технічній частині, так і гарному
                        сервісу.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_3.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Влад</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 2 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Вдало створює комфортну атмосферу для студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Спокійний і відкритий, допомагає учням швидко опановувати навички.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо любить працювати з бородою.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_4.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">Старший барбер - Назар</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 3 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Чудово розуміє і відтворює побажання відвідувача створюючи неймовірно
                        стильні дизайни.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Завжди відкритий до створення нового та кардинальних змін у стилі.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="teachers-navigation">
          <button type="button" class="teachers-navigation-next">
            <i class="icon-arrow-slider-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="box">
      <h2 class="title">ПРОГРАМА КУРСУ</h2>
      <ul class="course-list">
        <li class="course-list__item">
          <span class="course-list__title">Тривалість</span>
          <span class="course-list__text">2 МІСЯЦІ</span>
        </li>
        <li class="course-list__item">
          <span class="course-list__title">Занять</span>
          <span class="course-list__text">24</span>
        </li>
        <li class="course-list__item">
          <span class="course-list__title">Годин</span>
          <span class="course-list__text">96+</span>
        </li>
        <li class="course-list__item">
          <span class="course-list__title">Найближчий старт</span>
          <span class="course-list__text">1 ГРУДНЯ</span>
        </li>
      </ul>

      <ul class="course-programme" id="course-programme">
        <li class="course-programme__item">
          <div class="course-programme__module">
            <div class="course-programme__module-content">
              <h4 class="course-programme__module-title">модуль 1</h4>
              <p class="course-programme__module-text">введення в професію</p>
              <ul class="course-capabilities">
                <li class="course-capabilities__item">3 УРОКИ</li>
                <li class="course-capabilities__item">12 ГОДИН</li>
                <li class="course-capabilities__item">ТЕОРІЯ</li>
              </ul>
            </div>
          </div>
          <div class="course-programme__delimiter"></div>
          <div class="course-programme__lessons">
            <h5 class="course-programme__lessons-title">УРОК 1-3</h5>
            <ul class="course-description">
              <li class="course-description__item">Ознайомлення з дисципліною барберінгу</li>
              <li class="course-description__item">Вивчення видів стрижок</li>
              <li class="course-description__item">Стрижка бороди</li>
            </ul>
            <div class="course-programme__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="course-programme__item">
          <div class="course-programme__module">
            <div class="course-programme__module-content">
              <h4 class="course-programme__module-title">модуль 2</h4>
              <p class="course-programme__module-text">Стрижка машинкою + фейд</p>
              <ul class="course-capabilities">
                <li class="course-capabilities__item">5 УРОКІВ</li>
                <li class="course-capabilities__item">20 ГОДИН</li>
                <li class="course-capabilities__item">ТЕОРІЯ</li>
                <li class="course-capabilities__item">ПРАКТИКА</li>
              </ul>
            </div>
          </div>
          <div class="course-programme__delimiter"></div>
          <div class="course-programme__lessons">
            <h5 class="course-programme__lessons-title">УРОК 4-8</h5>
            <ul class="course-description">
              <li class="course-description__item">Поглиблене вивчення техніки “fade”</li>
              <li class="course-description__item">Практика на моделях</li>
            </ul>
            <div class="course-programme__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="course-programme__item">
          <div class="course-programme__module">
            <div class="course-programme__module-content">
              <h4 class="course-programme__module-title">модуль 3</h4>
              <p class="course-programme__module-text">Стрижка ножицями</p>
              <ul class="course-capabilities">
                <li class="course-capabilities__item">3 УРОКи</li>
                <li class="course-capabilities__item">12 ГОДИН</li>
                <li class="course-capabilities__item">ТЕОРІЯ</li>
                <li class="course-capabilities__item">ПРАКТИКА</li>
              </ul>
            </div>
          </div>
          <div class="course-programme__delimiter"></div>
          <div class="course-programme__lessons">
            <h5 class="course-programme__lessons-title">УРОК 9-11</h5>
            <ul class="course-description">
              <li class="course-description__item">Техніки для середньої довжини</li>
              <li class="course-description__item">Робота з ножицями та формою волосся</li>
            </ul>
            <div class="course-programme__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="course-programme__item">
          <div class="course-programme__module">
            <div class="course-programme__module-content">
              <h4 class="course-programme__module-title">модуль 4</h4>
              <p class="course-programme__module-text">Подовжені стрижки</p>
              <ul class="course-capabilities">
                <li class="course-capabilities__item">8 УРОКІВ</li>
                <li class="course-capabilities__item">32 ГОДИНИ</li>
                <li class="course-capabilities__item">ТЕОРІЯ</li>
                <li class="course-capabilities__item">ПРАКТИКА</li>
              </ul>
            </div>
          </div>
          <div class="course-programme__delimiter"></div>
          <div class="course-programme__lessons">
            <h5 class="course-programme__lessons-title">УРОК 12-19</h5>
            <ul class="course-description">
              <li class="course-description__item">Розуміння силуету та балансу</li>
              <li class="course-description__item">
                Робота з індивідуальними пропорціями клієнтів
              </li>
            </ul>
            <div class="course-programme__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="course-programme__item">
          <div class="course-programme__module">
            <div class="course-programme__module-content">
              <h4 class="course-programme__module-title">модуль 5</h4>
              <p class="course-programme__module-text">Стрижка бороди</p>
              <ul class="course-capabilities">
                <li class="course-capabilities__item">4 УРОКИ</li>
                <li class="course-capabilities__item">16 ГОДИН</li>
                <li class="course-capabilities__item">ПРАКТИКА</li>
              </ul>
            </div>
          </div>
          <div class="course-programme__delimiter"></div>
          <div class="course-programme__lessons">
            <h5 class="course-programme__lessons-title">УРОК 20-23</h5>
            <ul class="course-description">
              <li class="course-description__item">Техніка “fade” на бороді</li>
              <li class="course-description__item">Гоління та камуфлювання сивини</li>
            </ul>
            <div class="course-programme__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
        <li class="course-programme__item">
          <div class="course-programme__module">
            <div class="course-programme__module-content">
              <h4 class="course-programme__module-title">Залік</h4>
              <p class="course-programme__module-text">Практичний іспит</p>
              <ul class="course-capabilities">
                <li class="course-capabilities__item">1 УРОК</li>
                <li class="course-capabilities__item">4 ГОДИНИ</li>
                <li class="course-capabilities__item">ПРАКТИКА</li>
              </ul>
            </div>
          </div>
          <div class="course-programme__delimiter"></div>
          <div class="course-programme__lessons">
            <h5 class="course-programme__lessons-title">УРОК 24</h5>
            <ul class="course-description">
              <li class="course-description__item">Практичний іспит</li>
              <li class="course-description__item">Розбір та оцінювання робіт</li>
            </ul>
            <div class="course-programme__slider box-slider">
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
              <i class="icon-arrow-dropdown"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="box">
      <div class="diploma__header-block header-block">
        <h2 class="header-block__title">ДИПЛОМ</h2>
        <div class="header-block__subtitle">ПІСЛЯ ПРОХОДЖЕННЯ КУРСУ ВИ ОТРИМУЄТЕ ДИПЛОМ</div>
      </div>
      <div class="diploma__body">
        <div class="diploma__row">
          <div class="diploma__column diploma__column_first">
            <div class="diplom__item diplom__item_vertical item">
              <div class="item__image item__image_h">
                <img src="../images/diploma_1.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="diploma__column diploma__column_second">
            <div class="diplom__item diplom__item_vertical item">
              <div class="item__image item__image_h">
                <img src="../images/diploma_2.webp" alt="" />
              </div>
            </div>
          </div>

          <div class="diploma__column diploma__column_big">
            <div class="diploma__item diplom__item_horizontal item">
              <div class="item__image item__image_v item__image_first">
                <img src="../images/diploma_3.webp" alt="" />
              </div>
              <div class="item__image item__image_v">
                <img src="../images/diploma_4.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <h2 class="title">ВІДГУКИ ПРО НАВЧАННЯ</h2>
      <p class="subtitle">ВІД НАШИХ ВИПУСКНИКІВ</p>

      <div class="feedback-gallery__container">
        <div class="feedback-swiper swiper">
          <ul class="feedback-gallery swiper-wrapper">
            <li class="feedback-gallery__item swiper-slide">
              <div class="feedback-gallery__content" data-video-id="w640k6pX8_g">
                <div id="video-1"></div>
                <!-- <iframe
                   width="167"
                   height="292"
                   src="https://www.youtube.com/embed/w640k6pX8_g?autoplay=0&controls=1&rel=0"
                   title="Ілля Фрунза"
                   frameborder="0"
                   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                   referrerpolicy="strict-origin-when-cross-origin"
                   allowfullscreen
                 ></iframe> -->
              </div>
            </li>
            <li class="feedback-gallery__item swiper-slide">
              <div class="feedback-gallery__content" data-video-id="gZxnra8xJCo">
                <div id="video-2"></div>
              </div>
            </li>
            <li class="feedback-gallery__item swiper-slide">
              <div class="feedback-gallery__content" data-video-id="geDcWM5hNsU">
                <div id="video-3"></div>
              </div>
            </li>
            <li class="feedback-gallery__item swiper-slide">
              <div class="feedback-gallery__content" data-video-id="ErJihiQqWcE">
                <div id="video-4"></div>
              </div>
            </li>
            <li class="feedback-gallery__item swiper-slide">
              <div class="feedback-gallery__content" data-video-id="w640k6pX8_g">
                <div id="video-5"></div>
              </div>
            </li>
            <li class="feedback-gallery__item swiper-slide">
              <div class="feedback-gallery__content" data-video-id="geDcWM5hNsU">
                <div id="video-6"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="feedback-navigation">
          <button type="button" class="feedback-navigation-next">
            <i class="icon-arrow-slider-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
