<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title">ТЕБЕ НАВЧАТИМУТЬ</h2>

      <div class="teachers-gallery__container">
        <div class="teachers-swiper swiper">
          <ul class="teachers-gallery swiper-wrapper">
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_1.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Олексій</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо цінує класичні стрижки і виконує різні варіації подовжених
                        дизайнів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 2 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Навчає як технічним так і міжособистісним навичкам роботи.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 4 роки досвіду роботи.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_2.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Павло</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 5 років досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 4 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Володіє глибокими знаннями технік стрижки і поєднує класичні підходи і
                        сучасні тренди.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Відповідальний і уважний, навчає як технічній частині, так і гарному
                        сервісу.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_3.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Влад</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 2 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Вдало створює комфортну атмосферу для студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Спокійний і відкритий, допомагає учням швидко опановувати навички.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо любить працювати з бородою.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_4.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">Старший барбер - Назар</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 3 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Чудово розуміє і відтворює побажання відвідувача створюючи неймовірно
                        стильні дизайни.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Завжди відкритий до створення нового та кардинальних змін у стилі.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_1.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Олексій</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо цінує класичні стрижки і виконує різні варіації подовжених
                        дизайнів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 2 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Навчає як технічним так і міжособистісним навичкам роботи.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 4 роки досвіду роботи.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_2.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Павло</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 5 років досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Успішно випустив 4 потоки студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Володіє глибокими знаннями технік стрижки і поєднує класичні підходи і
                        сучасні тренди.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Відповідальний і уважний, навчає як технічній частині, так і гарному
                        сервісу.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_3.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">ТОП барбер - Влад</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 2 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Вдало створює комфортну атмосферу для студентів.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Спокійний і відкритий, допомагає учням швидко опановувати навички.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Особливо любить працювати з бородою.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="teachers-gallery__item swiper-slide">
              <div class="teachers-gallery__content">
                <div class="teachers-gallery__box-img">
                  <img
                    class="teachers-gallery__img"
                    src="../images/teacher_4.webp"
                    alt="cosmetics"
                  />
                </div>
                <div class="teachers-gallery__wraper">
                  <h4 class="teachers-gallery__title">Старший барбер - Назар</h4>
                  <ul class="teachers-gallery-list">
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">Має 3 роки досвіду роботи.</p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Чудово розуміє і відтворює побажання відвідувача створюючи неймовірно
                        стильні дизайни.
                      </p>
                    </li>
                    <li class="teachers-gallery-list__item">
                      <p class="teachers-gallery-list__text">
                        Завжди відкритий до створення нового та кардинальних змін у стилі.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="teachers-navigation">
          <button type="button" class="teachers-navigation-next">
            <i class="icon-arrow-slider-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="box">
      <h2 class="title">ПРОГРАМА КУРСУ</h2>
      <ul class="course-list">
        <li class="course-list__item">
          <span class="course-list__title">Тривалість </span>
          <span class="course-list__text">2 МІСЯЦІ</span>
        </li>
      </ul>
    </div>
  </div>
</section>
