<footer class="footer">
  <div class="footer__container container">
    <div class="footer__body">
      <a href="/" class="footer__logo">
        <img src="../images/Logo_Footer.svg" alt="logo" />
      </a>
      <div class="footer__inform">
        <div class="footer__text">Офіційний дистрибʼютор впевненості</div>
        <div class="footer__copiright copiright">
          <p class="copiright__text"><span>©Shop</span>academy</p>
          <p class="copiright__text">2025</p>
        </div>
      </div>
      <div class="footer__nav">
        <nav class="footer__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#about-course" class="menu__link">про курс</a>
            </li>
            <li class="menu__item">
              <a href="#about-us" class="menu__link">про нас</a>
            </li>
            <li class="menu__item">
              <a href="#teachers" class="menu__link">тренери</a>
            </li>
            <li class="menu__item">
              <a href="#programme" class="menu__link">програма курсу</a>
            </li>
            <li class="menu__item">
              <a href="#adress" class="menu__link">адреса</a>
            </li>
          </ul>
        </nav>
        <div class="footer__social social">
          <div class="social__body">
            <a
              href="https://www.facebook.com/shop.barbershop.bc"
              target="_blank"
              rel="noopener noreferrer"
              class="social__item"
            >
              <i class="icon-facebook social__icon-social"></i>
            </a>
            <a
              href="https://www.instagram.com/shop_barbers_academy"
              target="_blank"
              rel="noopener noreferrer"
              class="social__item"
            >
              <i class="icon-instagram social__icon-social"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
