<footer class="footer">
  <div class="footer__container container">
    <div class="footer__body">
      <a href="#" class="footer__logo">
        <img src="./img/Logo1.png" alt="logo" />
      </a>
      <div class="footer__inform">
        <div class="footer__text">Офіційний дистрибʼютор впевненості</div>
        <div class="footer__copiright">
          <p><span>©Shop</span>academy</p>
          <p>2024</p>
        </div>
      </div>
      <nav class="footer__menu footer-menu">
        <div class="footer-menu__list">
          <div class="footer-menu__item">
            <a href="#" class="footer-menu__link">про курс</a>
          </div>
          <div class="footer-menu__item">
            <a href="#" class="footer-menu__link">про нас</a>
          </div>
          <div class="footer-menu__item">
            <a href="#" class="footer-menu__link">тренери</a>
          </div>
          <div class="footer-menu__item">
            <a href="#" class="footer-menu__link">програма курсу</a>
          </div>
          <div class="footer-menu__item">
            <a href="#" class="footer-menu__link">адреса</a>
          </div>
        </div>
      </nav>
      <div class="footer__social social">
      <div class="social__body">
           <a href="#" class="social__item">
          <i class="icon-facebook social__icon-social"></i>
        </a>
        <a href="#" class="social__item">
          <i class="icon-instagram social__icon-social"></i>
        </a>
      </div>
      </div>
    </div>
  </div>
</footer>
