<header class="header" id="header">
  <div class="header__container container">
    <div class="header__body">
      <a href="/" class="header__logo">
        <img src="../images/Logo_Header.svg" alt="logo" />
      </a>
      <div class="header__nav">
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#about-course" class="menu__link">курс</a>
            </li>

            <li class="menu__item">
              <a href="#about-us" class="menu__link">Переваги</a>
            </li>
            <li class="menu__item">
              <a href="#teachers" class="menu__link">майстри</a>
            </li>
            <li class="menu__item">
              <a href="#programme" class="menu__link">програма курсу</a>
            </li>
            <li class="menu__item">
              <a href="#adress" class="menu__link">Контакти</a>
            </li>
          </ul>
        </nav>
        <div class="header__social social">
          <div class="social__body">
            <a
              href="https://www.facebook.com/shop.barbershop.bc"
              target="_blank"
              rel="noopener noreferrer"
              class="social__item"
            >
              <i class="icon-facebook social__icon"></i>
            </a>
            <a
              href="https://www.instagram.com/shop_barbers_academy"
              target="_blank"
              rel="noopener noreferrer"
              class="social__item"
            >
              <i class="icon-instagram social__icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
