<header>
<div class="header__container container">
          <div class="header__body">
            <a href="#" class="header__logo">
              <img src="../img/logo2.png" alt="logo" />
            </a>
            <nav class="header__menu menu">
              <div class="menu__list">
                <div class="menu__item">
                  <a href="" class="menu__link">про курс</a>
                </div>

                <div class="menu__item">
                  <a href="#" class="menu__link">про нас</a>
                </div>
                <div class="menu__item">
                  <a href="#" class="menu__link">тренери</a>
                </div>
                <div class="menu__item">
                  <a href="#" class="menu__link">програма курсу</a>
                </div>
                <div class="menu__item">
                  <a href="#" class="menu__link">адреса</a>
                </div>
                
              </div>
            </nav>
            <div class="header__social social">
              <a href="" class="social__item">
                <i class="icon-facebook social__icon"></i>
              </a>
              <a href="#" class="social__item">
                <i class="icon-instagram social__icon"></i>
               
              </a>
            </div>
          </div>
        </div>
        <div class="bottom-bar">
          <div class="bottom-bar__container container">
            <div class="bottom-bar__list">
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-home bottom-bar__icon"></i>
                  <p>головна</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-services bottom-bar__icon"></i>
                  <p>послуги</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-works bottom-bar__icon"></i>
                  <p>Роботи</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-barbers bottom-bar__icon"></i>
                  <p>Барбери</p></a
                >
              </div>
              <div class="bottom-bar__item">
                <a href="" class="bottom-bar__link">
                  <i class="icon-contacts bottom-bar__icon"></i>
                  <p>Контакти</p></a
                >
              </div>
            </div>
          </div>
        </div>
</header>
