<header class="header">
  <div class="header__container container">
    <div class="header__body">
      <a href="#" class="header__logo">
        <img src="../images/Logo_Header.svg" alt="logo" />
      </a>
      <div class="header__nav">
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link">про курс</a>
            </li>

            <li class="menu__item">
              <a href="#" class="menu__link">про нас</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">тренери</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">програма курсу</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">адреса</a>
            </li>
          </ul>
        </nav>
        <div class="header__social social">
          <div class="social__body">
            <a href="" class="social__item">
              <i class="icon-facebook social__icon"></i>
            </a>
            <a href="#" class="social__item">
              <i class="icon-instagram social__icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
