  <div class="main__hero hero">
          <div class="hero__container container">
            <div class="hero__body">
              <h1 class="hero__title">SHOP ACADEMY</h1>
              <div class="hero__text">
                Наша пристрасть і наше натхнення — це впровадження
                найінноваційніших методів в роботі і навчанні, а також ми
                прагнемо навчати трендовому лайфстайлу та комунікувати свій
                підхід через спостереження за особистим і професійним прогресом
                студентів завдяки нашій академії
              </div>
              <a href="#registry" class="hero__button button"><span>Записатись на курс</span></a>
            </div>
          </div>
         
        </div>