  <div class="main__hero hero">
          <div class="hero__container">
            <div class="hero__body">
              <h1 class="hero__title">SHOP ACADEMY</h1>
              <div class="hero__text">
                Наша пристрасть і наше натхнення — це впровадження
                найінноваційніших методів в роботі і навчанні, а також ми
                прагнемо навчати трендовому лайфстайлу та комунікувати свій
                підхід через спостереження за особистим і професійним прогресом
                студентів завдяки нашій академії
              </div>
              <a href="#" class="hero__button button">Записатись на курс</a>
            </div>
          </div>
          <div class="hero__img ibg">
           <div class="hero__shedow">
             <picture>
               <source srcset="../img/Banner_2.jpg" media="(min-width: 768px)">
               <img src="../img/Banner_1.jpg" alt="">
            </picture>
           </div>
          </div>
        </div>