<section class="section questions">
  <div class="container">
    <h2 class="title-light">ПОШИРЕНІ ЗАПИТАННЯ</h2>

    <ul class="questions-list">
      <li class="questions-list__item ac">
        <div class="questions-list__wraper">
          <h2 class="questions-list__header">
            <button type="button" class="questions-list__triger">
              <span class="questions-list__triger-text">ДЕ ЗНАХОДИТЬСЯ АКАДЕМІЯ?</span>
              <i class="icon-arrow-FAQ-expand"></i>
            </button>
          </h2>
          <div class="questions-list__panel ac-panel">
            <p class="questions-list__text">
              Наша академія розташована за адресою:
              <a href="https://g.co/kgs/iDT2tNH" target="_blank" rel="noopener noreferrer"
                >м. Біла Церква, бульвар Олександрійський, 104.</a
              >
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list__item ac">
        <div class="questions-list__wraper">
          <h2 class="questions-list__header">
            <button type="button" class="questions-list__triger">
              <span class="questions-list__triger-text">ЯКИЙ ГРАФІК НАВЧАННЯ?</span>
              <i class="icon-arrow-FAQ-expand"></i>
            </button>
          </h2>
          <div class="questions-list__panel ac-panel">
            <p class="questions-list__text">
              Заняття проходять 3 рази на тиждень, що дозволяє ефективно поєднувати навчання з
              іншими справами.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list__item ac">
        <div class="questions-list__wraper">
          <h2 class="questions-list__header">
            <button type="button" class="questions-list__triger">
              <span class="questions-list__triger-text">Чи можна стати майстром універсалом? </span>
              <i class="icon-arrow-FAQ-expand"></i>
            </button>
          </h2>
          <div class="questions-list__panel ac-panel">
            <p class="questions-list__text">
              Наш курс навчить тебе всім необхідним технікам, щоб стати висококласним майстром, який
              працює в будь-якому стилі та напрямку.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list__item ac">
        <div class="questions-list__wraper">
          <h2 class="questions-list__header">
            <button type="button" class="questions-list__triger">
              <span class="questions-list__triger-text">Яка вартість курсу?</span>
              <i class="icon-arrow-FAQ-expand"></i>
            </button>
          </h2>
          <div class="questions-list__panel ac-panel">
            <p class="questions-list__text">
              Вартість курсу становить 32 000 грн. Також є можливість оплатити частинами без
              додаткових комісій.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list__item ac">
        <div class="questions-list__wraper">
          <h2 class="questions-list__header">
            <button type="button" class="questions-list__triger">
              <span class="questions-list__triger-text">Чи надаються інструменти? </span>
              <i class="icon-arrow-FAQ-expand"></i>
            </button>
          </h2>
          <div class="questions-list__panel ac-panel">
            <p class="questions-list__text">
              Так, ми забезпечуємо інструментами для навчання та практики, щоб ти міг працювати на
              найвищому рівні.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
