<section class="section questions">
   <div class="container">
      <h2 class="title-light">ПОШИРЕНІ ЗАПИТАННЯ</h2>

      <ul class="questions-list">
         <li class="questions-list__item ac">
           <h2 class="ac-header">
             <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
           </h2>
           <div class="ac-panel">
             <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           </div>
         </li>
       
         <li class="questions-list__item ac">
           <h2 class="ac-header">
             <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
           </h2>
           <div class="ac-panel">
             <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           </div>
         </li>
       </ul>
   </div>
</section>