.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    & {
      max-width: $mobile;
    }
  }

  @media screen and (min-width: $large-mobile) {
    & {
      max-width: $large-mobile;
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      max-width: $tablet;
    }
  }

  @media screen and (min-width: $laptop) {
    & {
      max-width: $laptop;
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      max-width: $desktop;
    }
  }
}
