@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2"),
    url("../fonts/SourceSans3-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Semibold.woff2") format("woff2"),
    url("../fonts/SourceSans3-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Bold.woff2") format("woff2"),
    url("../fonts/SourceSans3-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir-GrandHeavy.woff2") format("woff2"),
    url("../fonts/Agrandir-GrandHeavy.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
