$font-family: "Source Sans 3", sans-serif;
$second-family: "Proxima Nova", sans-serif;
$third-family: "SF Pro", sans-serif;
$font3: "Agrandir", sans-serif;

$mobile: 400px;
$tablet: 768px;
$desktop: 1235px;

$light: #fff;
$dark: #000;
$light-blue: #17c7e6;
