.choice-features {
  display: grid;
  grid-template-columns: 1fr;
  color: $light;

  &__wraper-title {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 10px;
    overflow: auto;
  }

  &__title {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__wraper {
    position: relative;
    border-top: 1px solid $light;
    background: rgba(0, 0, 0, 0.2);
    height: 80px;
    overflow: hidden;
    padding-bottom: 47px;
    transition: height 0.3s linear;
  }

  &__text {
    font-size: 12px;
    padding: 4px 10px;
  }

  &__slider {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    gap: 10px;
    font-size: 23px;
    padding: 14px 5px 5px;
    background: linear-gradient(180deg, rgba(12, 131, 150, 0) 0%, #0c8396 100%),
      linear-gradient(180deg, rgba(12, 131, 150, 0) 0%, #0c8396 100%),
      linear-gradient(180deg, rgba(12, 131, 150, 0) 0%, #0c8396 100%);
    width: 100%;
    z-index: 10;
    cursor: pointer;
  }

  &__slider i {
    pointer-events: none;
  }

  .slider-active &__slider i {
    transform: rotate(180deg);
  }

  @media (min-width: $small) {
    grid-template-columns: repeat(2, 177px);
    justify-content: space-between;

    &__item:first-child {
      grid-column: span 2;
    }

    &__item:not(:first-child):nth-child(odd) &__slider {
      background: linear-gradient(180deg, rgba(16, 167, 191, 0) 0%, #10a7bf 100%),
        linear-gradient(180deg, rgba(16, 167, 191, 0) 0%, #10a7bf 100%),
        linear-gradient(180deg, rgba(16, 167, 191, 0) 0%, #10a7bf 100%);
    }
  }

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    & &__item:nth-child(odd) &__slider {
      background: linear-gradient(180deg, rgba(12, 131, 150, 0) 0%, #0c8396 100%),
        linear-gradient(180deg, rgba(12, 131, 150, 0) 0%, #0c8396 100%),
        linear-gradient(180deg, rgba(12, 131, 150, 0) 0%, #0c8396 100%);
    }
    & &__item:nth-child(even) &__slider {
      background: linear-gradient(180deg, rgba(6, 107, 120, 0) 0%, #066b78 100%),
        linear-gradient(90deg, rgba(12, 130, 149, 0.2) 0%, rgba(6, 107, 120, 0.2) 100%),
        linear-gradient(180deg, rgba(6, 107, 120, 0) 0%, #066b78 100%),
        linear-gradient(90deg, rgba(12, 130, 149, 0.2) 0%, rgba(6, 107, 120, 0.2) 100%),
        linear-gradient(180deg, rgba(6, 107, 120, 0) 0%, #066b78 100%),
        linear-gradient(90deg, rgba(12, 130, 149, 0.2) 0%, rgba(6, 107, 120, 0.2) 100%);
    }
  }

  @media (min-width: $desktop) {
    &__wraper-title {
      height: 58px;
      padding: 0 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 18px;
      padding: 4px 20px;
    }

    &__wraper {
      padding-bottom: 57px;
    }

    &__slider {
      padding: 29px 20px 5px 20px;
    }
  }
}
