.course-list {
  & {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
  }

  &__item {
    text-align: center;
  }

  &__title {
    display: block;
    font-size: 15px;
    line-height: 133%;
    color: $pale-black;
  }

  &__text {
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: $dark;
    margin-top: -5px;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
   & {
      justify-content: space-evenly;
    }
  }

  @media (min-width: $desktop) {
    &__title {
      font-size: 30px;
    }

    &__text {
      font-size: 50px;
      line-height: 110%;
    }
  }
}
