.footer {
  background-color: $dark;
  padding-bottom: 67px;

  &__body {
    height: 75px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__logo {
    flex: 0 0 auto;
    display: block;

    padding: 13px 10px 12px 0px;
    & img {
      width: 50px;
      min-height: 50px;
      height: 100%;
    }
  }
  &__inform {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #828282;
    text-transform: uppercase;
  }
  &__text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & .menu__link {
    color: #828282;
  }
  &__menu {
  }
}

.copiright {
  display: flex;
  flex-direction: row;
  &__text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    padding-right: 3px;
    & span {
      font-weight: 700;
    }
  }
}
.footer__menu,
.footer__social {
  display: none;
}

@media screen and (min-width: $tablet) {
  .footer {
    padding-bottom: 0;

    &__logo {
      padding: 10px 22px 10px 0px;
      & img {
        max-width: 80px;
        width: 100%;
        min-height: 80px;
        height: 100%;
      }
    }
    &__inform {
      flex: 0 0 285px;
      justify-content: space-between;
      padding: 0px 19px 0px 0px;
    }
    &__text {
      font-size: 14px;
    }
    &__nav {
      flex: 1 1 auto;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__menu {
      flex: 1 1 566px;
      color: #828282;
    }

    &__menu,
    &__social {
      display: block;
    }
  }

  .copiright {
    display: flex;
    flex-direction: column;
    &__text {
      font-size: 14px;
    }
  }
}

@media (min-width: $laptop) and (max-width: $desktop) {
  .footer {
    &__menu {
      flex: none;
      margin: 0 auto;
    }

    & .menu__list {
      column-gap: 100px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .footer {
    &__body {
      height: 100px;
    }
    &__menu {
      padding-left: 10px;
    }
    & .menu__list {
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1235px) {
  .footer {
    & .menu__list {
      flex-wrap: nowrap;
    }
  }
}
