.footer {
  background-color: $dark;

  &__body {
    margin-bottom: 77px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__logo {
    display: block;

    padding: 0px 10px 0px 0px;
    & img {
      width: 50px;
      height: 50px;
    }
  }
  &__inform {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #828282;
    text-transform: uppercase;
  }
  &__text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & .menu__link {
    color: #828282;
  }
}

.copiright {
  display: flex;
  flex-direction: column;
  &__text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;

    & span {
      font-weight: 700;
    }
  }
}
.footer__menu,
.footer__social {
  display: none;
}

@media (min-width: 992px) {
  .footer {
    &__body {
      margin: 0;
    }
    &__logo {
      padding: 0px 22px 0px 0px;
      & img {
        width: 80px;
        height: 80px;
      }
    }
    &__inform {
      flex: 0 0 285px;
      padding: 0px 19px 0px 0px;
    }
    &__text {
      font-size: 14px;
    }
    &__nav {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__menu {
      flex: 0 1 566px;
      color: #828282;
    }

    &__menu,
    &__social {
      display: block;
    }
  }


  .copiright {
    display: flex;
    flex-direction: row;
    &__text {
      padding-right: 3px;
      font-size: 14px;
    }
  }
}

.social {
  font-size: 30px;
  color: $light;

  &__body {
    display: flex;
    justify-content: end;
  }
  &__item {
    display: inline-block;
    padding: 0px;
    &:not(:last-child) {
      padding-right: 10px;
    }
  }
}
