.price-note {
  font-size: 10px;
  text-align: center;
  color: $pale-black;
  border-top: 1px solid #067f8e;
  border-bottom: 1px solid #067f8e;
  margin-top: 6px;

  &__text {
    display: block;
    max-width: 270px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    & {
      margin-top: 14px;
      font-size: 11px;
      padding: 5px 0;
    }

    &__text {
      max-width: none;
    }
  }
}
