.price-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 177px;
  }

  &__item:last-child {
    display: none;
  }

  &__box-title {
    display: flex;
    justify-content: space-between;
    gap: 19px;
  }

  &__title {
    font-size: 16px;
    color: $pale-black;
  }

  &__title-name {
    white-space: nowrap;
  }

  &__sub-title {
    display: block;
    font-size: 12px;
    line-height: 117%;
    text-decoration: line-through;
  }

  &__discount-desk,
  &__discount-mob {
    align-items: center;
    justify-content: center;
    border: 1px solid #cb0000;
    font-weight: 700;
    color: #cb0000;
  }

  &__discount-mob {
    display: flex;
    width: 40px;
    height: 24px;
    font-size: 14px;
    line-height: 107%;
  }

  &__discount-desk {
    display: flex;
    width: 82px;
    height: 35px;
    font-size: 25px;
    line-height: 60%;
  }

  &__cost {
    font-weight: 700;
    font-size: 35px;
    line-height: 117%;
    color: $dark;
  }

  &__currency {
    font-size: 25px;
    line-height: 164%;
  }

  @media (min-width: $small) {
    & {
      justify-content: space-between;
      flex-direction: row;
      align-items: stretch;
    }
  }

  @media (min-width: $desktop) {
    &__item {
      max-width: none;
    }
    &__item:last-child {
      display: flex;
      align-self: flex-end;
    }

    &__title {
      font-size: 18px;
    }

    &__cost {
      font-size: 60px;
      line-height: 118%;
      margin-bottom: -20px;
    }

    &__currency {
      font-size: 40px;
      line-height: 177%;
    }

    &__discount-mob {
      display: none;
    }
  }
}
